body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(270deg, #00c9ff, #7109AA);
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite;
}

@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

#passwordForm, #bookmarkletForm {
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.50); /* 50% transparency */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#passwordForm input[type="password"], #bookmarkletForm input[type="text"] {
    padding: 20px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 80%;
    font-size: 1.5em;
}

#passwordForm button, #bookmarkletForm button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #28a745;
    color: white;
    font-size: 1em;
    cursor: pointer;
}

#passwordForm button:hover, #bookmarkletForm button:hover {
    background-color: #218838;
}
